<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li class="p-name"><b>{{ site.title }}</b></li>
          </ul>
      </div>

      <div class="footer-col footer-col-3">
          <p>{{ site.description }}</p>
      </div>

      <div class="footer-col footer-col-2">
          <ul class="social-media-list">
            <li><a href="https://github.com/thatandromeda"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">thatandromeda</span></a></li>
            <li><a href="https://twitter.com/thatandromeda"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg> <span class="username">thatandromeda</span></a></li>
          </ul>
      </div>

    </div>
  </div>
</footer>
