---
---
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;1,400;1,600&display=swap');


@import "{{ site.theme }}";

/* custom variable overrides */
$body-background-color: #EEF0FA;
$text-color: #103257;
$text-color-muted: #4C6E93;
$text-color-transparent: rgba(76,110,147,.3);
$line-length-lg: 90ch;
$line-length-md: 70ch;
$link-color: #1E6DBF;
$contrast-color: #FFD073;
$contrast-color-muted: #FFDF8A;
$box-shadow-basic: 0px 2px 5px 0px rgba(16, 50, 87, 0.3);
@import "assets/tooltip";

/* general styles */

body {
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: $text-color;
  background-color: $body-background-color;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

p+h1, h2, h3 {
  margin-top: 2rem;
}

hr {
  color: $text-color-transparent;
  margin: 3rem 0;
}

li {
  margin-bottom: .5em;
}

/* a11y fixes */
a {
  color: $link-color;
}

blockquote {
  color: $text-color-muted;
  border-left: 4px solid $text-color-transparent;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* components */
.message {
  max-width: $line-length-md;
  border: 2px solid $text-color;
  border-radius: 12px;
  padding: 1.5rem 2rem;
  margin: 2rem 0;

  h2, h3 {
    margin-top: 0;
    margin-bottom: .2rem;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.cta-button {
  transition: color .1s ease-in-out,background-color .1s ease-in-out;
  display: inline-block;
  margin: 1rem auto;
  padding: 1rem 2.5rem;;
  background-color: $contrast-color;
  border-radius: 3px;
  color: $text-color;
  font-weight: 600;
  text-align: center;

  &.secondary {
    background-color: $text-color-muted;
    color: white;
  }

  &:hover {
    background-color: $contrast-color-muted;
    box-shadow: $box-shadow-basic;
    text-decoration: none;
  }

  &:visited {
    color: $text-color;
  }
}

/* layout */

.wrapper {
  max-width: $line-length-lg;
}

.site-header {
  padding: 1rem;
}

.site-footer .wrapper {
  max-width: none;
}

.footer-col-wrapper {
  color: $text-color-muted;
}

/* header */
.site-header {
  border: none;

  .site-title {
    display: none;
    color: $text-color;
    letter-spacing: 0;
  }

  .page-link,
  a {
    color: $text-color-muted;

    &:hover {
      text-decoration: 1px solid underline $text-color-muted;
    }

    &.active {
      color: $text-color;
      text-decoration: 2px solid underline $text-color;
    }
  }

}

/* content */

.post {
  position: relative;
}

/* home */
.page-heading {
  display: none;
}

.hero {
  margin: 3rem 0;
}

.home-title {
  z-index: 100;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: -75px;
  font-size: 48px;
  line-height: 1.2;
}

.snapshot-wrapper {
  height: 300px;
  width: 500px;
  display: inline-block;
  vertical-align: middle;

  background-color: $text-color-transparent;
}

.video-wrapper {
  margin: 2rem 0;
  height: 400px;
  width: 700px;
  background-color: $text-color-transparent;
}


/* tool specific */
.explore {

  .page-content {
    padding-top: 0;
  }

  .post-content {
    margin-bottom: 0;
  }

  .post-header {
    display: none;
  }

  .interact-intro {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
  }

  .wrap-help-tips {
    z-index: 1000;
    flex-shrink: 0;
    text-align: right;
    padding-left: 2rem;
  }

  .help-button {
    border: 0;
    background: transparent;
    color: $link-color;
    cursor: pointer;
  }

  .pointer-tip {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    top: -15px;
    right: 0;
    bottom: auto;
    left: auto;
    margin: 0;
    margin-left: 0;
    border-width: 0 0 15px 20px;
    border-color: transparent;
    border-bottom-color: white;
  }

  .tips-list {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    top: 40px;
    right: 20px;
    display: none;
    text-align: left;
    background-color: white;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    border-radius: 12px 0 12px 12px;
    box-shadow: $box-shadow-basic;

    &.show {
      visibility: visible;
      opacity: 1;
      display: block;
    }

    p {
      margin-bottom: .5rem;
    }

    ul {
      margin-left: 1.5rem;
    }

    li {
      margin-bottom: .1rem;
    }
  }

  #deepscatter {
    margin: 25px;
  }
}
/* footer */
.footer-heading {
  display: none;
}

/* smaller screen adjustment */

@media (max-width: 600px) {

  .site-nav {
    position: fixed;
    z-index: 1000;
    box-shadow: $box-shadow-basic;
  }
}
