.tooltip {
  background: white !important;
  border-radius: 3px !important;
  box-shadow: $box-shadow-basic;
  padding: 20px !important;
}

.tooltip-container {
  width: 300px;
  background-color: #fff;
}

.tooltip-section-title {
  margin-bottom: 0;
  font-weight: 600;
}

.tooltip-image {
  margin: 10px auto;

  a {
    display: block;
    text-align: center;
  }

  img {
    max-height: 250px;
    max-width: 100%;
  }
}

.tooltip-collection {
  font-size: 0.85em;
  text-transform: capitalize;
}

.tooltip-title {
  margin-top: 1em;
  font-size: 1em;
  font-weight: 600;
}

.tooltip-date {

}

.tooltip-subjects {
  list-style: none;
  margin-left: 0;
  text-transform: capitalize;

  li {
    margin-bottom: 0;
  }
}

.tooltip-link .cta-button {
  display: block;
}
