.ttooltip {
  z-index: 99
}

.tooltip.container {
  width: 300px;
}

.tooltip.container img {
  float: left;
  max-width: 33%;
}

.tooltip.container ul {
  float: right;
  max-width: 66%;
  margin: 0
}

.tooltip.header {
  background-color: #ff7f64;
  padding: 5px;
  font-size: 0.85em;
}

.tooltip.title {
  font-size: 1.15em;
  font-weight: normal;
  padding: 5px 0 0 0;
  margin-bottom: 0;
}

.tooltip.date, .tooltip .subjects {
  font-variant: small-caps;
  color: #666;
  padding-bottom: 0.5em;
}
