<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<script>
  function toggleHelp() {
    document.getElementById("tipsList").classList.toggle("show");
  }

  window.onclick = function (event) {
      if (!event.target.matches('.help-button')) {
        var tips = document.getElementById("tipsList");
        if (tips.classList.contains('show')) {
          tips.classList.remove('show');
        }
      }
    }
</script>

<body class="{{ page.bodyclass }}">

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <article class="post">

        <header class="post-header">
          <h1 class="post-title">{{ page.title | escape }}</h1>
        </header>

        <div class="post-content">
          {{ content }}
        </div>

      </article>

      <label>Color by word:
        <select id="colorize">
          <option value="">Use default colors</option>
          <option value="abolition">abolition</option>
          <option value="agriculture">agriculture</option>
          <option value="business">business</option>
          <option value="constitution">constitution</option>
          <option value="convention">convention</option>
          <option value="economy">economy</option>
          <option value="education">education</option>
          <option value="election">election</option>
          <option value="equality">equality</option>
          <option value="freedmen">freedmen</option>
          <option value="labor">labor</option>
          <option value="property">property</option>
          <option value="representation">representation</option>
          <option value="rights">rights</option>
          <option value="school">school</option>
          <option value="suffrage">suffrage</option>
          <option value="worker">worker</option>
          <option value="yeoman">yeoman</option>
        </select>
      </label>

    </div>

    <div id="deepscatter" style="position:relative;">
    </div>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script type="module">
      import Scatterplot from './js/deepscatter.es.js';
      const select = d3.select
      window.select = select; // For the click function below.

      const wWidth = (window.innerWidth - 50)
      const wHeight = (window.innerHeight - 200)

      let default_color = {
        field: "date",
        range: "set2",  // change this to get different color schemes, per https://observablehq.com/@d3/color-schemes
        domain: [-2047, 2047]
      }

      const prefs = {
        "source_url": "{{ site.feather_files }}",
        "max_points": 25000, // Matches quadfeather tile_size property.
        "alpha": .7, // Target saturation for the full page.
        "zoom_balance": 0.09, // Rate at which points increase size. https://observablehq.com/@bmschmidt/zoom-strategies-for-huge-scatterplots-with-three-js
        "point_size": 7, // Default point size before application of size scaling
        "background_color": "#ffffff",
        "encoding": {
          "color": default_color,
          "x": {
            field: "x",
            transform: "literal"
          },
          "y": {
            field: "y",
            transform: "literal"
          }
        },
        "click_function": "let title = `<h3 class='tooltip-title'>${datum['title']}</h3>`; select('.tooltip').html(title)",
        "tooltip_html": (function (datum) {
          let image_url = datum["image_url"]
          let img = ''
          if (image_url) {
            img = `<div class="tooltip-image"><a href='${datum["url"]}' target='_blank'><img src="${datum["image_url"]}" alt="photograph of original document"></a></div>`
          }
          let collections = `<h4 class="tooltip-section-title">Collection</h4><p><span class="tooltip-collection">${datum["collections"].slice(2, -2)}</span></p>`
          let title = `<h3 class="tooltip-title">${datum["title"]}</h3>`
          let date = `<p class="tooltip-date">${datum['date']}</p>`
          let url = `<a class='cta-button' href='${datum["url"]}' target='_blank'>View this item</a>`
          let description = `<div class="tooltip-description">${datum['description'].slice(2, -2)}</div>`
          let listdata = '';
          const labels = [
            "date", "subjects", "url"
          ]
          // What's up with this weird replacement?
          // When quadfeather writes tiles, it uses single quotes to enclose
          // key/value pairs, even if the original csv used double quotes. This
          // makes them invalid JSON. (There's an exception, which is if the key
          // or value included an apostrophe. In this case quadfeather uses double
          // quotes to preserve the parse.)
          // We can't just do a global search/replace to turn ' into ", since some
          // ' characters are apostrophes and not delimiters.
          // Therefore, we:
          // 1) Find everything which is an apostrophe (that is, a ' surrounded by
          //    letters) and replace it with a placeholder, so it isn't caught up
          //    in step 2;
          // 2) Replace all remaining single quotes with double quotes;
          // 3) Switch the placeholder back to an apostrophe;
          const reg = /([a-zA-Z]+)'([a-zA-Z]+)/g
          let subjects = ''
          try {
            subjects = JSON.parse(
              datum['subjects'].replaceAll(reg, "$1!!!!!$2")
                .replaceAll("'", '"')
                .replaceAll("!!!!!", "'")
            )
          } catch (e) {
            subjects = []
          }
          let subjects_html = ''
          for (const subj of subjects) {
            // Why is subj an Object and not a dict? Dunno.
            let key = Object.keys(subj)[0]
            subjects_html += `<li class="subject-item"><a href="${subj[key].replaceAll('&fo=json', '').replaceAll('fo=json', '')}">${key}</a></li>`
          }
          return `<div class="tooltip-container">${img}<div class="item summary">${title}${date}${collections}</div><div class="item metadata">${description}<h4 class="tooltip-section-title">Subjects</h4><ul class="tooltip-subjects">${subjects_html}</ul></div><div class="tooltip-link">${url}</div></div>`;
        })
      };

      const plot = new Scatterplot("#deepscatter", wWidth, wHeight)
      plot.plotAPI(prefs);
      window.plot = plot; // For debugging

      const colorSelector = document.querySelector('#colorize');

      colorSelector.addEventListener('change', (event) => {
        if (event.target.value == 0) {
          plot.plotAPI({
            'duration': 0.3,
            'encoding': {'color': default_color }
          })
        } else {
          plot.plotAPI({
            'duration': 0.3,
            'encoding': {'color': {
              field: event.target.value,
              range: "greens",
              // The real value span is more like [-30, 50], but you get a wider
              // range of colors, hence more meaningful visualization, if you
              // compress the ends.
              domain: [0, 25]
            }}
          })
        }
      });
    </script>

  </main>

  {%- include footer.html -%}

</body>

</html>
